tharik/bambalapitiya-web-client/src/wsdl/localhost_8081/bambalapitiya-web-service/MyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.icbt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.icbt/" name="MyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.icbt/" schemaLocation="http://localhost:8081/bambalapitiya-web-service/MyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getStudents">
<part name="parameters" element="tns:getStudents"/>
</message>
<message name="getStudentsResponse">
<part name="parameters" element="tns:getStudentsResponse"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<portType name="MyWebService">
<operation name="hello">
<input wsam:Action="http://service.icbt/MyWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.icbt/MyWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getStudents">
<input wsam:Action="http://service.icbt/MyWebService/getStudentsRequest" message="tns:getStudents"/>
<output wsam:Action="http://service.icbt/MyWebService/getStudentsResponse" message="tns:getStudentsResponse"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://service.icbt/MyWebService/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://service.icbt/MyWebService/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
<operation name="addStudent">
<input wsam:Action="http://service.icbt/MyWebService/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://service.icbt/MyWebService/addStudentResponse" message="tns:addStudentResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://service.icbt/MyWebService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://service.icbt/MyWebService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service.icbt/MyWebService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://service.icbt/MyWebService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="deleteStudent">
<input wsam:Action="http://service.icbt/MyWebService/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://service.icbt/MyWebService/deleteStudentResponse" message="tns:deleteStudentResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://service.icbt/MyWebService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://service.icbt/MyWebService/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://service.icbt/MyWebService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://service.icbt/MyWebService/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://service.icbt/MyWebService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://service.icbt/MyWebService/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://service.icbt/MyWebService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://service.icbt/MyWebService/getUserResponse" message="tns:getUserResponse"/>
</operation>
</portType>
<binding name="MyWebServicePortBinding" type="tns:MyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyWebService">
<port name="MyWebServicePort" binding="tns:MyWebServicePortBinding">
<soap:address location="http://localhost:8081/bambalapitiya-web-service/MyWebService"/>
</port>
</service>
</definitions>